.item-detail-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.form-title {
  text-align: center;
  padding: 10px 10px 20px 10px;
  padding: 10px;
  h2 {
    margin: 0 auto;
  }
}

.text-inside {
  margin-bottom: 15px;
}

.btn-sec {
  text-align: center;
  margin-top: 20px;
}

.update-btn {
  margin-right: 10px;
}

.discard-btn {
  background-color: #ccc;
}